*{
    margin: 0;
    color: white;
    padding: 0;
}
.sectionn{
    height: 80vh;
    background-color: #0C162A;
}
h1{
    text-align: left;
}

.cadastro{
    width: 80%;
    padding: 20px;
    margin: auto;
    padding: 20px 20px;
    /* display: block; */
}

.btn{
    margin-top: 20px;
}